snippet imr "import React from " b
import React from "react";
$0

snippet rtc "React template component" b
import React from "react";


const $1 = ($2) => {
	$3
  return (
		$0
  );
};

export default $1;

snippet cuseS "useState" b
const [$1, set${1/\w+/\u$0/g}] = useState($2);$0

snippet cuseD "const dispatch = useDispatch" b
const dispatch = useDispatch$0();

snippet uEff "useEffect" b
useEffect(() => {
  $1
}, [$2]);$0
