snippet imr "import React from " b
import React from "react";
$0

snippet init "init" b
import React from "react";

const $1 = ($2) => $0;
export default $1;

snippet useState "useState" b
const {
  0: $1,
  1: set${1/\w+/\u$0/g}
} = useState($2);$0

snippet useDispatch "const dispatch = useDispatch" b
const dispatch = useDispatch();$0

snippet useEffect "useEffect" b
useEffect(() => {
  $1
}, [$2]);$0
